.top {
    width: 100%;
    height: 60px;
    background-color: rgba(245, 245, 220, 0.7);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    cursor: pointer;
}

.topLeft,
.topRight {

    flex: 3;

}

.topCenter {
    flex: 6;
}

.topLeft svg {
    margin-top: 100px;
    width: 100px;
    /* height: 100px; */
}

.centerList,
.rightList {
    font-size: 18px;
    color: #666;
    display: flex;
}

.centerListItem,
.rightListItem {
    flex-direction: column;
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
}

.centerList {
    justify-content: space-between;
}

.rightList {
    justify-content: end;
}

.navlinkItem {
    text-decoration: none;
    color: #666;

}

.navlinkItem:hover {
    color: rgb(37, 37, 66);

}