.formResetPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 20px; */
    background-image: url('../../../../public/office-table-with-cup-coffee-keyboard-notepad.jpg');
    background-size: cover;
    color: wheat;
}

.resetPasswordInput {
    margin-top: 20px;
    padding: 5px 55px;
}

.resetPasswordButton {
    padding: 10px 0;
    width: 150px;
}

.forgotPasswordAlert {


    color: green;
    font-size: 24px;
    font-weight: 600;
    background-color: rgba(255, 235, 205, 0.8);

}